/* Mukta-Regular */
@font-face {
  font-family: Mukta;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Mukta Regular"),   // Full Name
    local("Mukta-Regular"),           // PostScript name
    // indestructible Jost*
    url("fonts/vendor/mukta/Mukta-Regular.ttf") format("ttf"),
}

/* Mukta-Medium */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Mukta Medium"),
    local("Mukta-Medium"),
    // indestructible Jost*
    url("fonts/vendor/mukta/Mukta-Medium.ttf") format("ttf"),
}


